/* Font for Style 02 */
@font-face{ 
    font-family: 'gt_sectra_fine_regularregular';
    src: url('Sectra_Web/gt-sectra-fine-regular-webfont.eot');
    src: url('Sectra_Web/gt-sectra-fine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.woff2') format('woff2'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.woff') format('woff'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.ttf') format('truetype'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.svg#gt_sectra_fine_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* STYLE ONE */
body.one {
	text-transform: lowercase;
	background-color: rgb(253, 247, 49);
	letter-spacing: 2px;
	margin: 1em;
	font-family: sans-serif;
	font-size: 26px;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	background: rgb(253,247,49);
	font-weight: 600;
}

body.one h2 {
	font-weight: 600;
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	font-size: 26px;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	letter-spacing: 2px;
	text-rendering: optimizelegibility;
	display: block;
}

body.one p {
	margin-bottom: 1em;
	text-align: justify;
	margin: 0 0 1em 0;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}



/* STYLE TWO */
body.two {
	width: 790px;
	font-family: "gt_sectra_fine_regularregular", Georgia, serif;
	font-size: 34px;
	line-height: 48px;
	color: #333333;
	text-align: left;
	background: white;
	margin: 0 auto 0 auto;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
}
/* Daphne ~ Laurel */
body.two h2 {
	font-family: Courier, monospace;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	float: left;
	/* padding: 3 0;
	border-bottom: 1px solid #000; */
	padding-bottom: 75px;
}
/* The Metamorphoses */
body.two h3 {
	text-align: right;
	font-family: Courier, monospace;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 75px;
	padding-right: 100px;
}

body.two span {
	font-size: 20px;
}



/* STYLE THREE */

body.three div{
	width: 324px;
	margin: auto;
}

body.three {
	width: 644px;
	background-color: #000000;
	background-repeat: repeat;
	margin: auto;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background: #ffffff;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/d/d6/Robert_Lef%C3%A8vre_-_Pauline_as_Daphne_Fleeing_from_Apollo_-_WGA12632.jpg);
}

body.three h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    line-height: 14px; 
    color: #ff6e00;">
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

body.three p {
	background: white;
	padding: 12px;
}



/* STYLE FOUR */

body.three div{
}

body.three {
}

body.three h2 {
}

body.three p {
}
