


/* STYLE ONE */

body.one {
	background-color: rgb(253, 247, 49);
}

body.one h1 {
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	font-size: 26px;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	letter-spacing: 2px;
	text-rendering: optimizelegibility;
	font-weight: normal;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}