/* Font for Style 02 */
@font-face{ 
    font-family: 'gt_sectra_fine_regularregular';
    src: url('Sectra_Web/gt-sectra-fine-regular-webfont.eot');
    src: url('Sectra_Web/gt-sectra-fine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.woff2') format('woff2'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.woff') format('woff'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.ttf') format('truetype'),
         url('Sectra_Web/gt-sectra-fine-regular-webfont.svg#gt_sectra_fine_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caslon_book_beregular';
    src: url('Caslon_Web/caslon_book_be_regular-webfont.eot');
    src: url('Caslon_Web/caslon_book_be_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Caslon_Web/caslon_book_be_regular-webfont.woff2') format('woff2'),
         url('Caslon_Web/caslon_book_be_regular-webfont.woff') format('woff'),
         url('Caslon_Web/caslon_book_be_regular-webfont.ttf') format('truetype'),
         url('Caslon_Web/caslon_book_be_regular-webfont.svg#caslon_book_beregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'newyorkertyperegularregular';
    src: url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.eot');
    src: url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.woff2') format('woff2'),
         url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.woff') format('woff'),
         url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.ttf') format('truetype'),
         url('New_Yorker/wiescher_design_-_newyorkertyperegular-webfont.svg#newyorkertyperegularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklingothicurwligregular';
    src: url('Franklin/urw_-_franklingothicurwlig-webfont.eot');
    src: url('Franklin/urw_-_franklingothicurwlig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Franklin/urw_-_franklingothicurwlig-webfont.woff2') format('woff2'),
         url('Franklin/urw_-_franklingothicurwlig-webfont.woff') format('woff'),
         url('Franklin/urw_-_franklingothicurwlig-webfont.ttf') format('truetype'),
         url('Franklin/urw_-_franklingothicurwlig-webfont.svg#franklingothicurwligregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* STYLE ONE */
body.one {
	text-transform: lowercase;
	background-color: rgb(253, 247, 49);
	letter-spacing: 2px;
	margin: 1em;
	font-family: sans-serif;
	font-size: 26px;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	background: rgb(253,247,49);
	font-weight: 600;
}

body.one h2 {
	font-weight: 600;
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	font-size: 26px;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	letter-spacing: 2px;
	text-rendering: optimizelegibility;
	display: block;
}

body.one p {
	margin-bottom: 1em;
	text-align: justify;
	margin: 0 0 1em 0;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}



/* STYLE TWO */
body.two {
	width: 790px;
	font-family: "gt_sectra_fine_regularregular", Georgia, serif;
	font-size: 34px;
	line-height: 48px;
	color: #333333;
	text-align: left;
	background: white;
	margin: 0 auto 0 auto;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
}
/* Daphne ~ Laurel */
body.two h2 {
	font-family: Courier, monospace;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	float: left;
	/* padding: 3 0;
	border-bottom: 1px solid #000; */
	padding-bottom: 75px;
}
/* The Metamorphoses */
body.two h3 {
	text-align: right;
	font-family: Courier, monospace;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 75px;
	padding-right: 100px;
}

body.two span {
	font-size: 20px;
}



/* STYLE THREE */

body.three div{
	width: 324px;
	margin: auto;
}

body.three {
	width: 644px;
	background-color: #000000;
	background-repeat: repeat;
	margin: auto;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background: #ffffff;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/d/d6/Robert_Lef%C3%A8vre_-_Pauline_as_Daphne_Fleeing_from_Apollo_-_WGA12632.jpg);
}

body.three h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    line-height: 14px; 
    color: #ff6e00;">
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

body.three p {
	background: white;
	padding: 12px;
}



/* STYLE FOUR */

body.four {
	margin: auto;
	width: 700px;
	font-family: Helvetica, Arial;
	background-color: #fff;
	text-align: left;
	font-size: 26px;
	line-height: 34px;
	background: #fff;
	color: #000;	
}

body.four h1 {
	font-size: 64px;
	line-height: 68px;
	padding: 5px 14px;
	text-transform: uppercase;
	text-align: center;
}

body.four h2 {
	text-align: left;
	font-size: 26px;
	line-height: 34px;
}

body.four p {
}


/* STYLE FIVE */

body.five {
	text-align: left;
	width: 637px;
	padding-left: 22px;
}

body.five h1 {
	font-family: "newyorkertyperegularregular","Times New Roman",Times,Georgia,serif;
	font-size: 30px;
	line-height: 38px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	margin-top: 40px;
}

body.five h2 {	
	font-family: "neutra-face-text","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 0;
}

body.five p {
	font-family: "caslon_book_beregular",Times,Georgia,serif;
	font-size: 20px;
	line-height: 28px;
	padding-right: 50px;
}

body.five p span {
	font-family: "neutra-face-text","Helvetica Neue",Helvetica,Segoe,"Segoe UI","Segoe WP",Calibri,Arial,clean,sans-serif;
	font-weight: bold;
	font-size: 100px;
	line-height: 40px;
	margin-right: 2px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
	float: left;
	padding: 3 3 3 3;
}

body.five div p {
	font-family: "caslon_book_beregular",Times,Georgia,serif;
	font-size: 16px;
	line-height: 20px;
	padding-right: 50px;
}


/* STYLE SIX */

body.six {
	font-family: "franklingothicurwligregular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 12px;
	font-weight: normal;
	line-height: 19px;
	letter-spacing: .01em;
	color: #000;
	width: 470px;
	margin: auto;
	margin-top: 50px;
}

body.six h1 {
	font-family: sans-serif;
	font-style: bold;
	font-size: 11px;
	text-transform: uppercase;
}

body.six h2 {
	font-family: sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 15px;
}

body.six p {
	margin-top: 0px;
}

body.six span{
	text-decoration: underline;
}


/* STYLE SEVEN */

body.seven {
}

body.seven h1 {
}

body.seven h2 {
}

body.seven p {
}



/* STYLE EIGHT */

body.eight {
}

body.eight h1 {
}

body.eight h2 {
}

body.eight p {
}
