






/*Responsive Responsive Responsive Responsive Responsive Responsive Responsive Responsive */

body { background: #e3ffff; }
/*img { max-width: 100%; height: auto;}*/
.info{display: none;}
.container{
  width: 1200px; 
}

.balloon1 {
  width: 200px; 
  margin: auto; 
  /*background-color: lime; */ 
  position: absolute;
  top: 10px;
  left: 25%;
  transform: translate(-50%, 0);
}

.balloon2 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 280px;
  left: 40%;
  transform: translate(-50%, 0);
}

.balloon3 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 175px;
  left: 70%;
  transform: translate(-50%, 0);
}

.balloon4 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 50px;
  left: 100%;
  transform: translate(-50%, 0);
}

.balloon5 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 380px;
  left: 10%;
  transform: translate(-50%, 0);
}

.balloon6 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 500px;
  left: 25%;
  transform: translate(-50%, 0);
}

.balloon7 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 700px;
  left: 35%;
  transform: translate(-50%, 0);
}

.balloon8 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 850px;
  left: 0%;
  transform: translate(-50%, 0);
}

.balloon9 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 800px;
  left: 60%;
  transform: translate(-50%, 0);
}

.balloon10 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 450px;
  left: 80%;
  transform: translate(-50%, 0);
}

.balloon11 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 650px;
  left: 90%;
  transform: translate(-50%, 0);
}

.balloon12 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 1150px;
  left: 35%;
  transform: translate(-50%, 0);
}

.balloon13 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 1300px;
  left: 100%;
  transform: translate(-50%, 0);
}

.balloon14 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 1600px;
  left: 90%;
  transform: translate(-50%, 0);
}

.balloon15 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 2000px;
  left: 75%;
  transform: translate(-50%, 0);
}

.balloon16 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 2400px;
  left: 5%;
  transform: translate(-50%, 0);
}

.balloon17 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 2900px;
  left: 65%;
  transform: translate(-50%, 0);
}

.balloon18 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 3500px;
  left: 80%;
  transform: translate(-50%, 0);
}

.balloon19 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 4000px;
  left: 10%;
  transform: translate(-50%, 0);
}

.balloon20 {
  width: 200px; 
  margin: auto; 
  /*background-color: pink; */
  position: absolute;
  top: 6000px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 */
@media screen and (max-width: 1024px) {
  body { background: #e3ffff; }
  .container{width: 1024px;}
  
}


/*768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 */
@media screen and (max-width: 768px) {
  body { background: #e3ffff; }
  /*img { max-width: 100%; height: auto; }*/
  
}


/*600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 600 */
@media screen and (max-width: 600px) {
  body { background: #e3ffff; }
  /*img { max-width: 100%; height: auto; }*/
  
}


/*480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 */
@media screen and (max-width: 480px) {
  body { background: #e3ffff;}
  .container {width: 480px;}
}


/*320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 */
@media screen and (max-width: 320px) {
  body { background: #e3ffff; }
  .container {width: 320px;}  
  .balloon1 {
    width: 200px; 
    position: absolute;
    top: 0px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon2 {
    width: 200px; 
    position: absolute;
    top: 250px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon3 {
    width: 200px; 
    position: absolute;
    top: 500px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon4 {
    width: 200px; 
    position: absolute;
    top: 750px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon5 {
    width: 200px; 
    position: absolute;
    top: 1000px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon6 {
    width: 200px; 
    position: absolute;
    top: 1250px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon7 {
    width: 200px; 
    position: absolute;
    top: 1500px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon8 {
    width: 200px; 
    position: absolute;
    top: 1750px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon9 {
    width: 200px; 
    position: absolute;
    top: 2000px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon10 {
    width: 200px; 
    position: absolute;
    top: 2250px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon11 {
    width: 200px; 
    position: absolute;
    top: 2500px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon12 {
    width: 200px; 
    position: absolute;
    top: 2750px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon13 {
    width: 200px; 
    position: absolute;
    top: 3000px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon14 {
    width: 200px; 
    position: absolute;
    top: 3250px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon15 {
    width: 200px; 
    position: absolute;
    top: 3500px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon16 {
    width: 200px; 
    position: absolute;
    top: 3750px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon17 {
    width: 200px; 
    position: absolute;
    top: 4000px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon18 {
    width: 200px; 
    position: absolute;
    top: 4250px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon19 {
    width: 200px; 
    position: absolute;
    top: 4500px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }

  .balloon20 {
    width: 200px; 
    position: absolute;
    top: 4750px;
    left: 50%; 
    transform: translate(-50%, 0);
    display: block;
  }  
}